<app-sidebar></app-sidebar>
<ion-content  class="mainbackground">
<div class="container">
<div class="header">

<div class="row">
<div class="col-8"><div class="title"><a (click)="dashboardPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a> Test Yourself</div>
</div>
<div class="col-4 text-right"><a class="menu-btn"><i class="fas fa-bars"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div>

</div>
</div>
<div class="body">
<div class="call-box">
<div class="image"><img src="../../../assets/images/call-icon.svg" class="w-100"/></div>
<div class="content">
<div class="label">For any emergency call?</div>
<div class="value">999 999 9999</div>
</div>
</div>
<div class="head">Symptoms</div>
<div class="symptoms">
<div class="row">
<div class="col-6">
<div class="box" (click)="symptomPage()">
<div class="image"><img src="../../../assets/images/symptom1.svg" class="w-100"/></div>
<div class="title">Sneezing</div>
<p>Sneezing is primary...</p>
</div>
<div class="box" (click)="symptomPage()">
<div class="image"><img src="../../../assets/images/symptom3.svg" class="w-100"/></div>
<div class="title">Fever</div>
<p>Fever high take care...</p>
</div>
</div>
<div class="col-6">
<div class="box" (click)="symptomPage()">
<div class="image"><img src="../../../assets/images/symptom2.svg" class="w-100"/></div>
<div class="title">Dry Cough</div>
<p>Dry Cough more than...</p>
</div>
<div class="box" (click)="symptomPage()">
<div class="image"><img src="../../../assets/images/symptom4.svg" class="w-100"/></div>
<div class="title">Breathness</div>
<p>Problem in breath...</p>
</div>
</div>
</div>
</div>
</div>
</div>
</ion-content>
<app-footer></app-footer>