<app-sidebar></app-sidebar>
<ion-content  class="mainbackground">
<div class="container">
<div class="header">

<div class="row">
<div class="col-8"><div class="title"><a (click)="testyourselfPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a> Symptom</div>
</div>
<div class="col-4 text-right"><a class="menu-btn"><i class="fas fa-bars"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div>
</div>
</div>
<div class="body">
<div class="singlesymptom">
<div class="image"> <img src="../../../assets/images/symptom1.svg" class="w-100"/></div>
<div class="name">Sneezing</div>
<p> Mauris at orci gravida, accumsan erat ut, tincidunt lacus. Quisque convallis neque nunc, tincidunt pretium ligula volutpat quis. Cras efficitur consectetur lectus, eget venenatis arcu congue quis. Cras sed convallis ligula, et facilisis dui. Vivamus vel aliquet erat. Aliquam condimentum dui quis vehicula placerat. Integer eget eros dapibus, molestie urna facilisis, vulputate nisi. Nullam blandit purus justo, eu lobortis risus sagittis eu.</p>

<p>Nulla ornare imperdiet massa nec bibendum. Proin turpis elit, volutpat et libero eget, molestie laoreet diam. Curabitur leo mi, semper in lacinia eu, elementum nec nunc. Morbi finibus, mi vestibulum semper faucibus, quam nulla lacinia mauris, eget mattis diam mauris sed enim. Vestibulum eget magna eros. Aenean placerat leo a lectus porta, ac tempus sapien sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a blandit magna. Phasellus porttitor dictum risus quis fermentum. Vivamus eget mauris ipsum. Vivamus quis augue nec lorem porttitor viverra eget id dolor. Integer nec mi purus. Donec et tempus odio, et suscipit tortor. Sed scelerisque nulla in orci tempor posuere. </p>
</div>
<div class="call-box">
<div class="image"><img src="../../../assets/images/call-icon.svg" class="w-100"/></div>
<div class="content">
<div class="label">For any emergency call?</div>
<div class="value">999 999 9999</div>
</div>
</div>
</div>
</div>
</ion-content>
<app-footer></app-footer>
