<app-sidebar></app-sidebar>
<ion-content  class="mainbackground">
<div class="header">
<div class="container">
<div class="row">
<div class="col-8"><div class="title"><a (click)="newsPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a> News Detail</div>
</div>
<div class="col-4 text-right"><a class="menu-btn"><i class="fas fa-bars"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div>
</div>
</div>
</div>
<div class="body">
<div class="image">
<img src="../../../assets/images/news1.jpg" />
</div>
<div class="newsdetails content">
<div class="container position-relative">
<div class="title">Corona cases increase more stay safe <div class="bookmark-btn"><i class="far fa-bookmark"></i></div></div>
<div class="meta">
<ul>
<li><i class="fas fa-eye"></i> 200 views</li>
<li><i class="fas fa-clock"></i> 2 min ago</li>
</ul>
</div>
<p> Nullam volutpat dui sit amet tortor eleifend tristique. Donec urna justo, sagittis sed erat nec, bibendum bibendum lacus. Pellentesque vulputate viverra mi, eu cursus lorem maximus dapibus. Fusce finibus, metus non tempor vulputate, turpis elit tristique nibh, sit amet posuere felis velit tincidunt lorem. Fusce varius eget lacus eget vulputate. Proin quis velit ornare, faucibus ipsum ac, gravida sem. Pellentesque ut metus lectus. Cras velit nulla, fermentum venenatis neque in, mollis posuere nulla.</p>

<p>Aliquam erat volutpat. Maecenas semper dui arcu, a vehicula nisl pellentesque fermentum. Praesent arcu ex, faucibus ut sollicitudin at, accumsan et risus. Praesent congue placerat lectus in vestibulum. Etiam massa nibh, accumsan sed malesuada in, pharetra lobortis est. Pellentesque quis mattis risus. Sed vitae pellentesque libero, at fringilla nulla. Aliquam bibendum tincidunt purus, ac dictum nunc imperdiet a. Curabitur vel semper nulla, porta condimentum orci. Nunc aliquet, felis in ultricies viverra, justo mi ultrices lacus, eget tempor enim lectus ac purus. Vestibulum laoreet est augue, at rutrum purus auctor ut.</p>

<p>Integer tristique imperdiet lectus a faucibus. Donec eleifend orci a lorem aliquam, in luctus orci dictum. Integer non nibh mattis, fermentum sem a, porta lacus. Aenean malesuada rutrum augue, eget imperdiet arcu volutpat quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce in elit odio. Sed vitae enim purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis quam, fringilla id magna at, maximus mollis metus. Sed dapibus massa sapien, sit amet rutrum nibh dignissim pellentesque. Sed imperdiet et neque et facilisis. Curabitur bibendum consectetur ante sed laoreet. </p>
</div>
</div>
</div>

</ion-content>
<app-footer></app-footer>