<ion-content class="mainbackground">
<div class="count text-center">
<div class="overlay"></div>
<div class="top-title">World Wide</div>
<div class="value"><ng2-odometer [number]="2345678" [config]="{ }"></ng2-odometer></div>
<div class="bottom-title">Corona Cases</div>
</div>
<div class="form-box">

<div class="title-box">
<div class="title">Sign In</div>
<div class="social"><ul>
<li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
</ul></div>
</div>
<form>
<div class="form-group">
<input type="text" placeholder="Username" class="form-control" />
</div>
<div class="form-group">
<input type="password" placeholder="Password" class="form-control" />
<div class="text-right">
<a class="forgot-btn" (click)="forgotpasswordPage()">Forgot password?</a>
</div>
</div>
<div class="text-center">
<button type="submit" class="theme btn btn-primary" (click)="dashboardPage()">Login</button>
</div>
</form>
</div>
<div class="footer-link"> Don't have account? <a (click)="registerPage()">Sign up</a></div>
</ion-content>
