<aside class="main-menu-box">
	<div class="header">
		<div class="title">Main Menu</div>
		<a class="close-btn"><i class="fas fa-times"></i></a>
	</div>
	<div class="menu">
		<ul class="nav flex-column flex-nowrap main-menu overflow-hidden">
			<li class="nav-item">
				<a class="nav-link submenu" (click)="dashboardPage()" [ngClass]="url1 == '/dashboard' ? 'active ' : ''">
					<span>Home</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="liveupdatePage()" [ngClass]="url1 == '/live' ? 'active ' : ''">
					<span>Live update</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="profilePage()" [ngClass]="url1 == '/profile' ? 'active' : ''"
					><span>Profile</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="testPage()" [ngClass]="url1 == '/testyourself' ? 'active ' : ''"
					><span>Test Yourself</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="newsPage()" [ngClass]="url1 == '/news' ? 'active' : ''"
					><span>News</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="settingsPage()" [ngClass]="url1 == '/settings' ? 'active' : ''"
					><span>Settings</span></a
				>
			</li>
		</ul>
	</div>

	<div class="menu-footer">
		<div class="profile box">
			<div class="profile-pic">
				<img src="../../../assets/images/user-profile.jpg" class="w-100" />
			</div>
			<div class="profile-info">
				<div class="name">Aaran Doe</div>
				<div class="location">New york, USA</div>
			</div>
			<div class="signout-btn">
				<a (click)="logoutPage()"><i class="fas fa-sign-out-alt"></i></a>
			</div>
		</div>
	</div>
</aside>
