<ion-content>
  <div class="background">
    <div class="overlay"></div>
    <div class="left">
      <img src="../../assets/images/logoicon.svg" class="w-100" />
    </div>
    <div class="right">
      <img src="../../assets/images/logoicon.svg" class="w-100" />
    </div>
  </div>
  <div class="container">
    <div class="logo">
      <div class="logo-name animated fadeInUp">Cov-19</div>
      <div class="logo-slogan animated fadeInUp">Estar en casa es estar seguro</div>
    </div>
  </div>
</ion-content>
